@media (min-width: 84em) {
    main .section {
        margin-right: 135px !important;
    }
}

body.modal-open {
    overflow: hidden;
}

.menu {
    position: fixed;
    right: 0;
    top: 0;
    left: unset;
    width: 135px;
    height: 100%;
    background-color: #fff;
    overflow-y: auto;

    @media (max-width: 84em) {
        width: 100%;
        bottom: 0;
        left: 0;
        right: 0;
        top: unset;
        height: 71px;
        overflow-y: unset;
    }

    .desktop {
        height: inherit;

        @media (max-width: 48em) {
            display: none;
        }

        ul {
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            border-left: 1px solid #ebebeb;
            list-style-type: none;
            height: 100%;

            @media (max-width: 84em) {
                border-top: 1px solid #ebebeb;
                border-left: unset;
                height: 100%;
                flex-direction: row;
            }

            li {
                cursor: pointer;
                border-bottom: 1px solid #ebebeb;
                display: flex;
                flex-direction: column;
                align-items: center;
                align-content: center;
                height: 85px;
                padding: 5px;

                &:hover {
                    background-color: #f3f3f3;
                }

                &:first-child:hover {
                    background-color: unset;
                }

                &:first-child .menu-item {
                    height: 80px;

                    .menu-item-icon {
                        height: 100%;
                    }
                }

                @media (max-width: 84em) {
                    justify-content: flex-start;
                    width: 100%;
                    height: auto;
                    border-right: 1px solid #ebebeb;
                    border-bottom:unset;
                    padding: 3px 10px;
                }

                .menu-item {
                    width: auto;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;

                    @media (max-width: 84em) {
                        width: 50px;
                        height: 50px;
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-start;
                    }



                    .menu-item-body {
                        text-align: center;
                        color: #323232;
                        font-size: 12px;
                        font-weight: 700;
                        letter-spacing: -0.5px;

                        @media (max-width: 84em) {
                            height: 100%;
                            font-size: 8px;
                            font-weight: unset;
                            line-height: 10px;
                            color: #666;
                            letter-spacing: unset;
                        }
                    }

                    .menu-item-icon {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        align-content: center;

                        @media (max-width: 84em) {
                            height: 100%;
                        }

                        a {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            align-content: center;
                            max-width: 55px;

                            @media (max-width: 84em) {
                                max-width: unset;
                            }
                        }

                        picture {
                            display: flex;
                            justify-content: center;
                            align-content: center;
                            align-items: center;
                        }
                    }
                }
            }
        }
    }

    .mobile {
        height: 100%;

        @media (min-width: 48em) {
            display: none;
        }

        .mobile-menu {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: space-between;

            .logo {
                display: flex;
                justify-content: center;
                align-items: center;
                align-content: center;
                cursor: pointer;
                padding: 9px 13px;

                a {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    align-content: center;
                    width: 60px;
                    height: 60px;
                }

                picture {
                    display: flex;
                    justify-content: center;
                    align-content: center;
                    align-items: center;
                }
            }

            .hamburger {
                display: flex;
                cursor: pointer;
                border-left: 1px solid rgb(235, 235, 235);
                padding: 0 16px 0 21px;
                background-color: rgb(244, 244, 244);

                .resources {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    text-align: center;
                    font-size: 14px;
                }

                .icon-wrapper {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    align-content: center;

                    .icon {
                        width: 30px;
                        height: 30px;
                        display: flex;
                        justify-content: center;

                        picture {
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                        }
                    }
                }

            }
        }

        .list-wrapper {
            display: none;

            .list {
                z-index: 2;
                position: absolute;
                bottom: 0;
                background-color: #fff;
                overflow-y: auto;
                height: 300px;
                width: 100%;

                ul {
                    margin: 0;
                    padding: 0;
                    display: flex;
                    flex-direction: column;
                    list-style-type: none;

                    li {
                        cursor: pointer;
                        border-bottom: 1px solid #ebebeb;
                        display: flex;
                        justify-content: flex-start;

                        &:first-child {
                            display: none;
                        }

                        .menu-item {
                            display: flex;
                            justify-content: flex-start;

                            .menu-item-body {
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                text-align: center;
                                color: #666;
                                font-size: 12px;
                            }

                            .menu-item-icon {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                align-content: center;

                                a {
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    align-content: center;
                                    width: 55px;
                                    height: 55px;
                                }

                                picture {
                                    display: flex;
                                    justify-content: center;
                                }
                            }
                        }
                    }

                }
            }

            .list-cover {
                left: 0;
                position: fixed;
                right: 0;
                top: 0;
                bottom:0;
                width: auto !important;
                z-index: 1;
                height: 100vh;
                background-color: rgba(0, 0, 0, 0.5);
                opacity: 1;
                will-change: opacity;
                transition: opacity 225ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
            }
        }
    }
}
